html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #393C45;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.bg {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  min-height: 400px;
  max-height: 1000px;
  background-attachment: fixed; }

.bg1 {
  background-image: url("../img/01.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: scroll; }

.bg2 {
  background-image: url("../img/02.jpg"); }

.bg3 {
  background-image: url("../img/03.jpg"); }

.bg4 {
  background-image: url("../img/04.jpg"); }

.bg5 {
  background-image: url("../img/05.jpg"); }

header {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 500ms ease-in 50ms; }
  header .flex {
    width: 100%; }

.menu-min {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 0.3rem solid #393C45; }

.img-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: .5rem; }
  .img-logo img {
    max-height: 80%;
    padding: 0 .5rem;
    max-width: 50px;
    opacity: .9;
    transition: all 500ms ease-in 50ms; }

#menu-toggle {
  height: 100%; }
  #menu-toggle i {
    font-size: 6vh;
    padding: 2.4vh; }

#menu-top {
  display: block;
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100%; }
  #menu-top a {
    color: #FEFEFE; }
    #menu-top a div {
      font-size: 1.3rem;
      text-align: center;
      padding: 1.3rem;
      display: block;
      word-spacing: .2rem;
      letter-spacing: .1rem;
      background-color: rgba(57, 60, 69, 0.95);
      border-bottom: 1px solid rgba(254, 254, 254, 0.3); }
      #menu-top a div:hover {
        background-color: rgba(254, 254, 254, 0.9);
        color: #393C45; }

article {
  padding: 11vh 1rem 2rem 1rem;
  text-align: justify; }
  article h2 {
    color: #D29E30;
    text-shadow: 0.05rem 0.1rem 0.3rem #393C45;
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem; }
  article p {
    margin-top: 1rem;
    line-height: 1.5rem; }

footer {
  background-color: #393C45;
  color: #FEFEFE; }
  footer .flex {
    display: none; }
  footer .sign {
    text-align: center;
    padding: 1rem;
    font-weight: 100;
    line-height: 1.2rem; }

#btn-up a {
  color: rgba(210, 158, 48, 0.9);
  font-size: 3rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem; }

@media (orientation: landscape) {
  header {
    height: 15vh; }

  #menu-top {
    top: 15vh; }
    #menu-top a div {
      padding: 1rem; }

  #menu-toggle i {
    font-size: 11vh; }

  article {
    padding-top: 16vh; } }
@media (min-width: 400px) and (orientation: portrait) {
  html, body {
    font-size: 16px; }

  #menu-top a div {
    padding: 1.5rem; }

  article {
    padding: 2rem;
    padding-top: 11vh; }

  footer {
    padding: .5rem; }

  #btn-up a {
    font-size: 4rem;
    right: 2rem; } }
@media (min-width: 600px) and (orientation: portrait) {
  html, body {
    font-size: 17px; } }
@media (min-width: 768px) {
  header {
    height: 4.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem #393C45; }

  #menu-toggle {
    display: none; }

  #menu-top {
    display: flex;
    position: static;
    width: auto; }
    #menu-top a {
      color: #393C45; }
      #menu-top a div {
        word-spacing: normal;
        letter-spacing: normal;
        background-color: transparent;
        border-bottom: none;
        font-size: 1rem;
        height: 100%;
        box-sizing: border-box;
        transition: all 500ms ease-in 50ms; }
        #menu-top a div:hover {
          background-color: #393C45;
          color: #D29E30;
          box-shadow: 0.05rem 0.1rem 0.3rem #393C45; }

  .current {
    background-color: #393C45;
    color: #D29E30 !important;
    box-shadow: 0.05rem 0.1rem 0.3rem #393C45; }

  article {
    padding: 5rem 5rem 3rem 5rem; }
    article h2 {
      font-size: 3rem;
      margin-bottom: 1.5rem; }

  #btn-up a {
    right: 1.2rem; } }
@media (min-width: 1024px) {
  html, body {
    font-size: 18px; }

  .img-logo img {
    max-width: 70px; }

  article {
    padding: 5.5rem 10rem; }
    article h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem; }

  footer {
    padding: 3rem 10rem; }
    footer .flex {
      display: flex;
      justify-content: space-between; }
      footer .flex a {
        color: #FEFEFE;
        text-align: center;
        transition: all 500ms ease-in 50ms; }
        footer .flex a:hover {
          color: #D29E30; }
    footer .sign {
      padding: 2rem 0 0 0;
      font-size: .8rem;
      line-height: 1.2rem; }

  #btn-up a {
    font-size: 5rem;
    right: 2.5rem;
    bottom: 2.5rem; }

  .menu-start {
    height: 10rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.05) 100%); }
    .menu-start .img-logo {
      margin-left: 1rem; }
      .menu-start .img-logo img {
        max-width: 150px;
        max-height: 130px; }
    .menu-start #menu-top a div {
      padding: 3rem 1.5rem; }
      .menu-start #menu-top a div:hover {
        background-color: rgba(57, 60, 69, 0.85); } }

/*# sourceMappingURL=style.css.map */
