// kolory
$yellow: #D29E30;
$gray: #393C45;
$white: #FEFEFE;
$gradient-nav: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,0.5) 45%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0.05) 100%);

// cień
$shadow: .05rem .1rem .3rem $gray;

// czcionki
$primary-font: 'Raleway', sans-serif;

// efekt przejścia
$transition: all 500ms ease-in 50ms;